
<script type="text/javascript" src="/javascripts/OpenLayers.js"></script>
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA6OwkJm9n23daDNkGhsMquBQCA0kQZc0rHxnaN3mazoBpOqX1oBTpjr5CmuXpD4rh2PoCYYL43exvhg' type='text/javascript'></script> 

<div id="place-page">

<div id="map-header">
	<% if params[:action] == 'place_site' %><h2>Geolocate this site</h2><% end %>
	<% if params[:action] == 'place_image' %><h2>Geolocate this image</h2><% end %>
	<p>Line up the map below with your starting position and press "Start point". Repeat for "End point" if possible.</p>
</div>

<div id="map-panel"> 

<div id="map"></div>

<!-- 
<div class="map-crosshairs v">&nbsp;</div>
<div class="map-crosshairs h">&nbsp;</div>
-->

<script>
	var map;
	var mapBounds = new OpenLayers.Bounds(-20037508, -20037508, 20037508, 20037508.34)
	//var mapBounds = new OpenLayers.Bounds( -88.8701993896, 29.798690641, -88.8620380748, 29.8071316946);
	var mapMinZoom = 14;
	var mapMaxZoom = 20;
	var spher_merc = new OpenLayers.Projection("EPSG:4326")
	var latlon = new OpenLayers.Projection("EPSG:900913")
	map = new OpenLayers.Map('map', { controls: [], 
		tileOrigin: new OpenLayers.LonLat(0,0).transform(latlon,spher_merc),
		units: "m",
		projection: new OpenLayers.Projection("EPSG:900913"),
		displayProjection: new OpenLayers.Projection("EPSG:4326"),
		maxExtent: new OpenLayers.Bounds(-20037508, -20037508, 20037508, 20037508.34),
		maxResolution: 156543.0339
	});
	var gsat = new OpenLayers.Layer.Google("Google Satellite", 
						{type: G_SATELLITE_MAP, 
						sphericalMercator: true, 
						numZoomLevels: 20} );
	map.addLayer(gsat)
	map.setCenter(map.getCenter(),2)

</script>

<div id="map-buttons">
	<p>
	<a class="start" href="javascript:void(0);">Start point</a>
	<a class="end" href="javascript:void(0);">End point</a>
	</p>
</div>

</div>
</div>
