<div id="sites-page">

<h2>Sites</h2>
<p>Click a site below to view the best images from that set:</p>

<div id="sites-list"> 

<% for site in @sites %>
<div>
	<a href="/mapper/best/?path=<%= site[0] %>"><%= site[0] %></a> (<%= site[1] %> images) | <a href="/site/<%= site[0][6..site[0].length] %>">sort only this site</a>
</div>
<% end %>

</div>
</div>
