<div class="alert alert-danger" style="display: none">
  Please provide a valid Open ID identifier!
</div>

<div class="alert alert-warning">
  Note: Only 
  <a href="http://publiclab.org">Publiclab</a> is currently supported as OpenID provider!
</div>

<div class="alert alert-info">Please enter your OpenID endpoint, you will then be redirected to publiclab.org to complete the login procedure</div>

<form id="open_id_form" method="GET" action="/login">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div class="input-group" id="open_id_input_group">
    <span class="input-group-addon glyphicon glyphicon-user input-desc">&nbsp;OpenID</span>
    <input id="open_id_username" type="text" class="form-control" placeholder="Username">
  </div>

  <div class="open_id_endpoint">
    <label class="open_id_part">http://publiclab.org/people/</label> <label class="open_id_part" id="open_id_part_username"></label><label class="open_id_part">/identity</label>
  </div>


  <button id="do_open_id_login" style="margin-top: 20px" data-bb-handler="success" type="button" class="btn btn-success">Take me there</button>
</form>
