html { background:#222; color:white; margin:0; padding:0;}
body { font-family:georgia,serif; padding:0; margin:0;  }

a {
	color:#08f;
}
a:hover {
	color:#f80;
}

img { border:0; }

#header {
	color:white;
	padding:20px 0 16px 0;
	position:absolute;
	top:0;
	z-index:3;
	width:100%;
	background:black;
	filter:alpha(opacity=70);   /* Internet Explorer       */
	-moz-opacity:0.7;           /* Mozilla 1.6 and below   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */
}
#header .links {
	display:block;
	float:right;
	margin-right:8px;
}
#header .links a {
	display:block;
	float:right;
	padding-left:8px;
}

#overlay {
	position:absolute;
	z-index:3;
	width:50%;
	background:black;
	filter:alpha(opacity=80);   /* Internet Explorer       */
	-moz-opacity:0.8;           /* Mozilla 1.6 and below   */
	opacity: 0.8;               /* newer Mozilla and CSS-3 */
	font-size:0.9em;
	color:white;
	padding:20px;
	text-align:center;
	top:16%;
	left:25%;
}
#overlay .button {
	padding:6px 10px 10px 10px;
	background:#333;
}
#overlay a.button:hover {
	background:#222;
}
#expand, #embed, #extras {
	position:absolute;
	top:80px;
	right:10px;
	z-index:6;
	padding:20px;
	background:black;
	color:white;
	filter:alpha(opacity=70);   /* Internet Explorer       */
	-moz-opacity:0.7;           /* Mozilla 1.6 and below   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */
}
#embed, #extras {
	left:10px;
	width:300px;
	border:10px solid #555;
	filter:alpha(opacity=90);   /* Internet Explorer       */
	-moz-opacity:0.9;           /* Mozilla 1.6 and below   */
	opacity: 0.9;               /* newer Mozilla and CSS-3 */
}
#embed a, #extras a {
	text-align:center;
	padding:10px;
	display:block;
	margin:4px;
	background:#333;
}
#embed a:hover, #extras a:hover {
	background:#222;
}
#embed h3 {
	margin-top:0;
}
#embed textarea {
	width:280px;
}

#sites-page, #list-page {
	font-size:120%;
	padding:10px;
	padding-top:50px;
}
#sites-page h2, #place-page h2, #list-page h2 {
	font-weight:normal;
	font-style:italic;
	font-size:2em;
	margin-bottom:10px;
}

#sites-list, .list {
	line-height:1.4em;
}
#sites-list div, .list div {
	border-bottom:1px solid #555;
	background:#333;
	padding:10px;
	line-height:1.4em;
}
#site {
	padding:5% 3%;
}
#site .pagination { 
	margin-top:30px;
}
#site .pagination a, #site .pagination span{
	padding:12px;
	background:#333;
	font-size:30px;	
}
#site .picture {
	width:200px;
	float:left;
	background:black;
	padding:10px 10px;
	margin:12px 12px 0 0;
        height:245px;
	display:block;
	text-align:center;
}
#site .picture .buttons {
	padding:8px 10px 20px 10px;
}
#site .picture .buttons a {
	padding:5px 21px;
}

#place-page {
	padding:0;
}

#map {
	background:#333;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	z-index:0;
}
#map-header {
	padding:16px;
	margin:8px;
	position:absolute;
	top:60px;
	right:0;
	z-index:2;
	background:black;
	filter:alpha(opacity=70);   /* Internet Explorer       */
	-moz-opacity:0.7;           /* Mozilla 1.6 and below   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */
	width:200px;
}
#map-header h2 {
	font-size:2.3em;
	margin: 6px 0;
}
#map-header p {
	margin: 4px 0;
}

#map-buttons {
	font-size:1.4em;
	padding-top:22px;
	line-height:3em;
}
#map-buttons a {
	margin-right:8px;
	color:white;
	padding:14px;
	background:#333;
}
#map-buttons a:hover {
	background:#444;
}
#map-buttons a.start {
	background:#5a3;
}
#map-buttons a.start:hover {
	background:#393;
}
#map-buttons a.end {
	background:#a00;
}
#map-buttons a.end:hover {
	background:#800;
}

#map-start, #map-end {
	margin-left:-30px;
	margin-top:-30px;
}
#map-marker {
	pointer-events: none;
	position:absolute;
	z-index:20;
	left:50%;
	top:50%;
}

#footer {
	margin-top:8px;
}

#image img {
	width:100%;
}
#image {
	height:100%;
	position:absolute;
	top:0;	
	overflow:hidden;
}

#buttons {
	position:absolute;
	bottom:0;
	z-index:3;
}

.buttons a, #buttons a {
	float:left;
	padding:14px 21px;
	background:#a00;
	filter:alpha(opacity=70);   /* Internet Explorer       */
	-moz-opacity:0.7;           /* Mozilla 1.6 and below   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */
	color:#fff;
	width:18px;
	display:block;
	height:30px;
}
.buttons a:hover, #buttons a:hover {
	background:#800;
}
.buttons a.green, #buttons a.green {
	background:#5a3;
}
.buttons a:hover.green, #buttons a:hover.green {
	background:#393;
}
.buttons a.yellow, #buttons a.yellow {
	background:#de0;
}
.buttons a:hover.yellow, #buttons a:hover.yellow {
	background:#aa0;
}

#mainpage #buttons {
	width:100%
}
#mainpage .buttons a, #mainpage #buttons a {
	width:33%;
	padding:20px 0;
	height:30px;
	text-align:center;
	font-size:1.4em;
}
#mainpage .buttons a.green, #mainpage #buttons a.green {
	width:34%;
}
