html { background:#222; color:white; margin:0; padding:0;}
body { font-family:georgia,serif; padding:0; margin:0;  }

a {
	color:blue;
}
a:hover {
	color:#00C;
}

img { border:0; }

#header {
	color:white;
	padding:20px 0 16px 0;
	position:absolute;
	top:0;
	z-index:3;
	width:100%;
	background:black;
}
#overlay {
	position:absolute;
	z-index:3;
	width:50%;
	background:black;
	font-size:0.9em;
	color:white;
	padding:20px;
	text-align:center;
	top:25%;
	left:25%;
}
#expand {
	position:absolute;
	top:80px;
	right:10px;
	z-index:6;
	padding:20px;
	background:black;
	color:white;
}

#sites-page {
	font-size:120%;
	padding:10px;
	padding-top:50px;
}

#sites-list {
	line-height:1.4em;
}
#sites-list div {
	border-bottom:1px solid #555;
	background:#333;
	padding:10px;
	line-height:1.4em;
}
#site {
	padding:5% 3%;
}
#site .picture {
	width:15%;
	float:left;
	background:black;
	padding:10px 10px;
	margin:30px;
	display:block;
	text-align:center;
}
#site .picture .buttons {
	clear:both;
	padding-top:16px;
}

#footer {
	margin-top:8px;
}

#image img {
	width:100%;
}
#image {
	height:100%;
	position:absolute;
	top:0;	
	overflow:hidden;
}

#buttons {
	position:absolute;
	bottom:0;
	z-index:3;
}

.buttons a, #buttons a {
	padding:14px 22px;
	background:#a00;
	color:#fff;
	border:2px solid #500;
}
.buttons a:hover, #buttons a:hover {
	background:#800;
}
.buttons a.green, #buttons a.green {
	background:#8a5;
	border-color:#530;
}
.buttons a:hover.green, #buttons a:hover.green {
	background:#693;
}
.buttons a.yellow, #buttons a.yellow {
	background:#cc0;
	border-color:#a80;
}
.buttons a:hover.yellow, #buttons a:hover.yellow {
	background:#aa0;
}

