html { background:#222; color:white; margin:0; padding:0;}
body { font-family:georgia,serif; padding:0; margin:0;  }

a {
	color:blue;
}
a:hover {
	color:#00C;
}

img { border:0; }

#header {
	color:white;
	padding:20px 0 16px 0;
	position:absolute;
	top:0;
	z-index:3;
	width:100%;
	background:black;
	filter:alpha(opacity=70);   /* Internet Explorer       */
	-moz-opacity:0.7;           /* Mozilla 1.6 and below   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */
}
#overlay {
	position:absolute;
	z-index:3;
	width:50%;
	background:black;
	filter:alpha(opacity=80);   /* Internet Explorer       */
	-moz-opacity:0.8;           /* Mozilla 1.6 and below   */
	opacity: 0.8;               /* newer Mozilla and CSS-3 */
	font-size:0.9em;
	color:white;
	padding:20px;
	text-align:center;
	top:25%;
	left:25%;
}
#expand {
	position:absolute;
	top:80px;
	right:10px;
	z-index:6;
	padding:20px;
	background:black;
	color:white;
	filter:alpha(opacity=70);   /* Internet Explorer       */
	-moz-opacity:0.7;           /* Mozilla 1.6 and below   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */
}

#sites-page {
	font-size:120%;
	padding:10px;
	padding-top:50px;
}

#sites-list {
	line-height:1.4em;
}
#sites-list div {
	border-bottom:1px solid #555;
	background:#333;
	padding:10px;
	line-height:1.4em;
}
#site {
	padding:5% 3%;
}
#site .pagination { 
	margin-top:30px;
}
#site .pagination a, #site .pagination span{
	padding:12px;
	background:#333;
	font-size:30px;	
}
#site .picture {
	width:200px;
	float:left;
	background:black;
	padding:10px 10px;
	margin:12px 12px 0 0;
        height:255px;
	display:block;
	text-align:center;
}
#site .picture .buttons {
	padding:5px 10px 20px 10px;
}

#footer {
	margin-top:8px;
}

#image img {
	width:100%;
}
#image {
	height:100%;
	position:absolute;
	top:0;	
	overflow:hidden;
}

#buttons {
	position:absolute;
	bottom:0;
	z-index:3;
}

.buttons a, #buttons a {
	float:left;
	padding:14px 21px;
	background:#a00;
	filter:alpha(opacity=70);   /* Internet Explorer       */
	-moz-opacity:0.7;           /* Mozilla 1.6 and below   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */
	color:#fff;
	width:18px;
	display:block;
	height:30px;
}
.buttons a:hover, #buttons a:hover {
	background:#800;
}
.buttons a.green, #buttons a.green {
	background:#8a5;
}
.buttons a:hover.green, #buttons a:hover.green {
	background:#693;
}
.buttons a.yellow, #buttons a.yellow {
	background:#cc0;
}
.buttons a:hover.yellow, #buttons a:hover.yellow {
	background:#aa0;
}

#mainpage #buttons {
	width:100%
}
#mainpage .buttons a, #mainpage #buttons a {
	width:33%;
	padding:20px 0;
	height:30px;
	text-align:center;
	font-size:1.4em;
}
#mainpage .buttons a.green, #mainpage #buttons a.green {
	width:34%;
}
