html { background:#222; margin:0; }
body { font-family:georgia,serif; width:900px; padding:20px; margin:20px; background:white; }

img { border:0; }

#footer {
	margin-top:8px;
}

#image {
	background:#ccc;
	border-top:2px solid #333;
	padding:12px;
}

#buttons a {
	padding:8px;
	background:#a00;
	color:#fff;
	border:2px solid #500;
}
#buttons a:hover {
	background:#800;
}
#buttons a.green {
	background:#8a5;
	border-color:#530;
}
#buttons a:hover.green {
	background:#693;
}
#buttons a.yellow {
	background:#cc0;
	border-color:#a80;
}
#buttons a:hover.yellow {
	background:#aa0;
}
