<div class="col-md-6 sites_overview">
 <h2>Sites</h2>
  <%= render 'sites/small_list' %>
</div>

<div class="col-md-6 upload_images">
  <% if logged_in? %>
    <input type="hidden" id="logged_in" value="1"/>
  <% end %>
  <div class="section_title">
    To upload new images for a new site, start here:
  </div>
  <%= render 'sites/form' %>

</div> 
