<div class="row">
  <div class="col-md-8 col-sm-8 col-ld-8 circles_parent">
    <div class="well">
      <div class="row">

        <div class="col-xs-4">
          <div class='circle green'>
            <div class='circle_contents'><i class="fa fa-arrow-up fa-3x"></i></div>
          </div>
          <h2>Upload</h2>
        </div>
    
        <div class="col-xs-4">
          <div class='circle red'>
            <div class='circle_contents'><i class="fa fa-bars fa-3x"></i></div>
          </div>
          <h2>Sort</h2>
        </div>
        <div class="col-xs-4">
          <div class='circle'><div class='circle_contents'>Map Knitter</div></div>
            <h2>Map</h2>
          </div>
        </div><!--end row-->
    
      </div><!--end well-->
    </div>
 
    <div class="col-md-4 col-sm-4 col-lg-4 upload_images">
      <div class='sites_form hidden-xs'>
        <% if logged_in? %>
          <input type="hidden" id="logged_in" value="1"/>
        <% end %>
        <p class="hidden-xs">Create a set to upload images:</p>
        <%= render 'sites/form' %>
      </div>
      <div class='well toggle-well well-white hidden-sm hidden-lg hidden-md'>
        <button id='toggle_sites_form' class='btn btn-primary form-control'>Upload Images</button>
      </div>
    </div> 

    <div class="col-lg-5 col-md-5 col-sm-5 sites_overview">
     <h1>Sets <small>(<%= @sites.count%>)</small></h1>
    <%= render 'sites/small_list' %>
    </div><!--end site_overview-->
  </div>
</div>
