if Rails.env.development?
  ENV['S3_BUCKET']=''
  ENV['AWS_ACCESS_KEY_ID']=''
  ENV['AWS_SECRET_ACCESS_KEY']=''
end

if Rails.env.test?
  ENV['S3_BUCKET']=''
  ENV['AWS_ACCESS_KEY_ID']=''
  ENV['AWS_SECRET_ACCESS_KEY']=''
end

if Rails.env.production?
  ENV['S3_BUCKET']=''
  ENV['AWS_ACCESS_KEY_ID']=''
  ENV['AWS_SECRET_ACCESS_KEY']=''
end
