if Rails.env.development?
#  ENV['S3_BUCKET']='my-aws-test-bucket'
#  ENV['AWS_ACCESS_KEY_ID']='AKIAI6QGALTXODGB3MPQ'
#  ENV['AWS_SECRET_ACCESS_KEY']='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'
  ENV['S3_BUCKET']='mapmilltest'
  ENV['AWS_ACCESS_KEY_ID']='AKIAIKGJ6GOFZKAEZXVA'
  ENV['AWS_SECRET_ACCESS_KEY']='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'
end

if Rails.env.test?
  ENV['S3_BUCKET']='mapmilltest'
  ENV['AWS_ACCESS_KEY_ID']='AKIAIKGJ6GOFZKAEZXVA'
  ENV['AWS_SECRET_ACCESS_KEY']='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'
end

if Rails.env.production?
  ENV['S3_BUCKET']='mapmilltest'
  ENV['AWS_ACCESS_KEY_ID']='AKIAIKGJ6GOFZKAEZXVA'
  ENV['AWS_SECRET_ACCESS_KEY']='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'
end
