# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http:#coffeescript.org/


$(document).ready ->
  $.ajaxSetup headers:
    "X-CSRF-Token": $("meta[name=\"csrf-token\"]").attr("content")

  $uploadList = $('#upload-list')
  $url = $("#s3-data").data("url")
  upload_btn = $('#upload_selected')
  file_list = []

  # trigger file upload browser on Browse click
  $('#browse').click () ->
    $('#fileupload').click()

  formatFileSize = (bytes) ->
    return ""  if typeof bytes isnt "number"
    return (bytes / 1000000000).toFixed(2) + " GB"  if bytes >= 1000000000
    return (bytes / 1000000).toFixed(2) + " MB"  if bytes >= 1000000
    (bytes / 1000).toFixed(2) + " KB"


  $("#fileupload").fileupload({
    xhrFields: {withCredentials: true},
    url: $url,
    type: 'POST',
    autoUpload: false,
    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
    maxFileSize: 9000000,
    dataType: 'xml',
    formData: $("#s3-data").data("fields"), 
    paramName: 'file',
    dropZone: $('#upload-area'),
    add: (e, data) ->
      if file_list.length > 0
        upload_btn.prop('disabled', false);
      for file in data.files
        tmp_tpl = $('<div class="col-xs-6 col-md-3"><div class="thumbnail"><div class="caption"></div></div>')
        tmp_tpl.find('.thumbnail').html('<img src="<%= asset_path('loading.gif') %>" />')
        $uploadList.append(tmp_tpl)
        #console.log file
        reader = new FileReader()
        reader.onloadend = ->
          scale = 0.15
          original = reader.result
          img = new Image() 
          img.src = original 
          img.onload = () ->
            tmp_tpl.remove()
            canvas = document.createElement("canvas")
            canvas.width = img.width * scale
            canvas.height = img.height * scale
            canvas.className = "canvas-thumbnail"
            
            canvas.getContext("2d").drawImage img, 0, 0, canvas.width, canvas.height

            #tpl = $('<div class="col-xs-6 col-md-3"><div class="thumbnail"><div class="knob-progress working"><input type="text" value="0" data-width="100" data-height="100"'+ ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /></div><img src="" alt="Upload thumbnail"/><div class="caption"></div><span></span></div></div>')
            tpl = $('<div class="col-xs-6 col-md-3"><div class="thumbnail"><div class="caption"></div><div class="knob-outer"><div class="knob-progress working"><input type="text" value="0" data-width="100" data-height="100"'+ ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /></div></div><span></span></div></div>')
            # add image source
            #tpl.find("img").get(0).src = reader.result 
            tpl.find(".thumbnail").append(canvas)
            #file.thumbnail = canvas.toDataURL()
            file.thumbnail = canvas
            # add click handler to thumbnails so they can be selected
            tpl.find('.thumbnail').click ->
              if $(this).hasClass 'selected_img'
                $(this).removeClass 'selected_img'
                idx = file_list.indexOf(file)
                if idx > -1
                  file_list.splice(idx, 1) 
                $("#upload-msg").append('<p class="status-info">Image ' + file.name + " removed from upload queue</p>")
              else
                $(this).addClass 'selected_img'
                file_list.push(file)
                $("#upload-msg").append('<p class="status-info">Image ' + file.name + " added to upload queue</p>")
                
              return
            # Append the file name and file size
            tpl.find(".caption").text(file.name).append "<i><br/>" + formatFileSize(file.size) + "</i>"
            # Add the HTML to the UL element
            data.context = tpl.appendTo($uploadList)
            # Initialize the knob plugin
            tpl.find("input").knob()
            # Listen for clicks on the cancel icon
            #tpl.find("input").click ->
            #  jqXHR.abort()  if tpl.hasClass("working")
            #  tpl.fadeOut ->
            #    tpl.remove()

        reader.readAsDataURL file
        $('#upload_selected').on('click', () ->
          if (file_list.indexOf(file) > -1)
            jqXHR = data.submit()
        )

        $('#cancel_upload').on('click', () ->
          if jqXHR
            jqXHR.abort() 
            $("#upload-msg").append('<p class="status-error">Upload aborted by user!</p>')
        )
            

    progress: (e, data) ->
     if data.context
        # Calculate the completion percentage of the upload
        progress = parseInt(data.loaded / data.total * 100, 10)
        #$('#upload-status').text(progress)
        # Update the hidden input field and trigger a change
        # so that the jQuery knob plugin knows to update the dial
        data.context.find(".knob-progress").show()
        data.context.find("input").val(progress).change()
        data.context.removeClass "working"  if progress is 100

    progressall: (e, data) -> 
      progress = parseInt(data.loaded / data.total * 100, 10)
      $(".progress-bar").css('width', progress + '%')
      $(".progress-bar").attr('aria-valuenow', progress)
      $(".progress-bar").text(progress + '%')

    done: (e, data) -> 
      #$(".progress-bar").text("Upload terminated!")
      #upload_btn.prop('disabled', true);


      for file in data.files

        if file.isThumbnail
          key  = $(data.jqXHR.responseXML).find("Key").text()
          put_data =
            thumbnail: '#' + $('#s3-data').data('host') + '/' + key
 
          $.ajax({
            url: "/images/" + file.image_id + '/set_thumbnail', 
            type: 'PUT',
            dataType: "json",
            data: put_data 
          }).done( (response) ->
              $("#upload-msg").append('<p class="status-info">Thumbnail successfully associated to image ' + file.image_id  + "</p>")
            ).fail( (response) ->
              $("#upload-msg").append('<p class="status-error">Thumbnail failed to be associated to image ' + file.image_id  + "</p>")
            )

        else
          $("#upload-msg").append('<p class="status-info">Image ' + file.name + " successfully uploaded</p>")

          #extract key and generate URL from response
          site = $('#site_id').val()
          key  = $(data.jqXHR.responseXML).find("Key").text()
          post_data =
            site_id: site 
            url: '#' + $('#s3-data').data('host') + '/' + key

          $.ajax({
            url: "/sites/" + site + "/images", 
            type: 'POST',
            dataType: "json",
            data: post_data
          }).done( (response) ->
            #img = new Image()
            #img.src = file.thumbnail.toDataURL('image/png')
            #arr = []
            #arr.push(img)
            #thumb = new Blob(arr)
            file.thumbnail.toBlob( (blob) ->
              blob.isThumbnail = true
              last = file.name.lastIndexOf('.')
              ext  = file.name.substr(last)
              blob.name = file.name.substr(0, last) + '_thumb' + ext
              blob.image_id = response.id
              flist = []
              flist.push(blob)
              $("#fileupload").fileupload("send", {files: flist})
            )
            $("#upload-msg").append('<p class="status-success">Image ' + file.name + " successfully saved to site</p>")
            return
          ).fail( (xhr, textStatus, errorThrown) ->
            $("#upload-msg").append('<p class="status-error"><i>Image ' + file.name + " failed to be associated to site! " + xhr.responseText + "</i></p>")
            console.log textStatus
            console.log errorThrown
            return
          )
          #create hidden field
          #var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
          #form.append(input);

    start: (e) ->
      $(".progress-section").addClass('in')

    fail: (e, data) ->
      $('.alert').show()
      $(".progress-bar").css("background", "red")
      $(".progress-bar").text("Upload failed!")

  })

  $(document).on "drop dragover", (e) ->
      e.preventDefault()

  $('.image_controls .btn-success').click () ->
    btn       = $(this)
    id        = $(this).attr('id')
    #index 9 is after id 'btn_good_'
    image_id  = id.substr(9)
    set_quality(btn, image_id, 'set_good')
  
  $('.image_controls .btn-warning').click () ->
    btn       = $(this)
    id        = $(this).attr('id')
    #index 8 is after id 'btn_nok_'
    image_id  = id.substr(8)
    set_quality(btn, image_id, 'set_nok')
  
  $('.image_controls .btn-danger').click () ->
    btn       = $(this)
    id        = $(this).attr('id')
    #index 8 is after id 'btn_bad_'
    image_id  = id.substr(8)
    set_quality(btn, image_id, 'set_bad')
  
    
  set_quality = (btn, image_id, action) ->
    $.ajax({
      url: "/images/" + image_id + "/" + action,
      type: "GET",
    }).done( (response) ->
      btn.parent().parent().find('.btn').each( (i, elem) ->
        if $(this).hasClass('assigned_quality')
          $(this).removeClass('assigned_quality')
      )
      btn.addClass("assigned_quality");  
    )

  current_img = 0
  
  $('#blueimp-gallery .image_controls .btn-success').click () ->
    set_quality $(this), current_img, 'set_good'

  $('#blueimp-gallery .image_controls .btn-warning').click () ->
    set_quality $(this), current_img, 'set_nok'

  $('#blueimp-gallery .image_controls .btn-danger').click () ->
    set_quality $(this), current_img, 'set_bad'

  $('#blueimp-gallery')
    .on('open', (event) -> 
        #Gallery open event handler
    )
    .on('opened', (event) ->
        # Gallery opened event handler
    )
    .on('slide', (event, index, slide) ->
        current_img = $('.site_details input[type=hidden]').eq(index).val()
        $.get '/images/' + current_img, ((img) ->
          $('#blueimp-gallery .image_controls .btn').each( (i, elem) ->
            if $(this).hasClass('assigned_quality_single')
              $(this).removeClass('assigned_quality_single')
          )
          if img.quality == 'good'
            $('#blueimp-gallery .image_controls .btn-success').addClass('assigned_quality_single')
          else if img.quality == 'nok'
            $('#blueimp-gallery .image_controls .btn-warning').addClass('assigned_quality_single')
          else if img.quality == 'bad'
            $('#blueimp-gallery .image_controls .btn-danger').addClass('assigned_quality_single')
        ), "json"
        # Gallery slide event handler
    )
    .on('slideend', (event, index, slide) -> 
        # Gallery slideend event handler
    )
    .on('slidecomplete', (event, index, slide) ->
        # Gallery slidecomplete event handler
    )
    .on('close', (event) ->
        # Gallery close event handler
    )
    .on('closed', (event) ->
        # Gallery closed event handler
    )

  $('#upload_more').click () ->
    window.location.href = '/sites/' + $('#site_id').val() + "/upload"
