# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/


#Initialize the jQuery File Upload widget:
#$('#fileupload').fileupload({
#        #Uncomment the following to send cross-domain cookies:
#        xhrFields: {withCredentials: true},
#        url: $("s3-data").data("url"),
#        autoUpload: false,
#        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
#        maxFileSize: 9000000
#})


#Enable iframe cross-domain access via redirect option:

#$('#fileupload').fileupload('option', {
#            url: $("s3-data").data("url"),



# 5 MB
# Enable image resizing, except for Android and Opera,
# which actually support image resizing, but fail to
# send Blob objects via XHR requests:
#$("#fileupload").fileupload(
#  #url: url
#  url: $("s3-data").data("url"),
#  dataType: "json"
#  autoUpload: false
#  acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
#  maxFileSize: 5000000
#  disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent)
#  previewMaxWidth: 100
#  previewMaxHeight: 100
#  previewCrop: true
#)

$(document).ready ->
  $uploadList = $('#upload-list')
  $url = $("#s3-data").data("url")
  file_list = []

  # trigger file upload browser on Browse click
  $('#browse').click () ->
    $('#fileupload').click()

  $('#upload_selected').click ->
    selected_files = $('.thumbnail.selected_img img')
    selected_files.each( (i, elem) ->
      jqXHR = $('#fileupload').fileupload('send', {files: })
        .success( (result, textStatus, jqXHR) ->
            $('#upload-status').text("Success")
        )
        .error( (jqXHR, textStatus, errorThrown) ->
            $('#upload-status').text("Error")
        )
        .complete( (result, textStatus, jqXHR) -> 
            $('#upload-status').text("Complete")
        )
    #  filesList.push(f.src)  
    #$.ajax
    #      url: "/signed_urls"
    #      type: 'GET'
    #      dataType: 'json'
    #      data: 
    #        doc: 
    #          title: 'test' #send the file name to the server so it can generate the key param
    #      async: false
    #      success: (data) -> 
    #        $('#fileupload').fileupload('send', {formData: data, files: filesList})

  
  formatFileSize = (bytes) ->
    return ""  if typeof bytes isnt "number"
    return (bytes / 1000000000).toFixed(2) + " GB"  if bytes >= 1000000000
    return (bytes / 1000000).toFixed(2) + " MB"  if bytes >= 1000000
    (bytes / 1000).toFixed(2) + " KB"


  $("#fileupload").fileupload({
    xhrFields: {withCredentials: true},
    url: $url,
    type: 'POST',
    autoUpload: false,
    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
    maxFileSize: 9000000,
    dataType: 'xml',
    #formData: $s3_post_data, 
    formData: $("#s3-data").data("fields"), 
    paramName: 'file',
    dropZone: $('#upload-area'),
    add: (e, data) ->
      for file in data.files
        #console.log file
        reader = new FileReader()
        reader.onloadend = ->
          tpl = $('<div class="col-xs-6 col-md-3"><div class="thumbnail"><img src="" alt="Upload thumbnail"/><div class="caption"></div><span></span></div></div>')
          # add image source
          tpl.find("img").get(0).src = reader.result 
          # add click handler to thumbnails so they can be selected
          tpl.find('.thumbnail').click ->
            $(this).toggleClass 'selected_img'
            return
          # Append the file name and file size
          tpl.find(".caption").text(file.name).append "<i><br/>" + formatFileSize(file.size) + "</i>"
          # Add the HTML to the UL element
          file.context = tpl.appendTo($uploadList)
          # Initialize the knob plugin
          #tpl.find("input").knob()
          # Listen for clicks on the cancel icon
          #tpl.find("span").click ->
          #  jqXHR.abort()  if tpl.hasClass("working")
          #  tpl.fadeOut ->
          #    tpl.remove()

          #Automatically upload the file once it is added to the queue
          #jqXHR = data.submit()
        reader.readAsDataURL file
        file_list.push(file)

    progress: (e, data) ->
        # Calculate the completion percentage of the upload
        progress = parseInt(data.loaded / data.total * 100, 10)
        $('#upload-status').text(progress)
        # Update the hidden input field and trigger a change
        # so that the jQuery knob plugin knows to update the dial
        #data.context.find("input").val(progress).change()
        #data.context.removeClass "working"  if progress is 100

   progressall: (e, data) -> 
      progress = parseInt(data.loaded / data.total * 100, 10)
      $("#progressbar").css('width', progress + '%')


    fail: (e, data) ->
        #$(data).addClass "error"
        $('.alert').show()
        #$('.alert').alert()

    uploadTemplate: (o) ->
        rows = $()
        $.each o.files, (index, file) ->
          row = $("<tr class=\"template-upload fade\">" + "<td><span class=\"preview\"></span></td>" + "<td><p class=\"name\"></p>" + "<div class=\"error\"></div>" + "</td>" + "<td><p class=\"size\"></p>" + "<div class=\"progress\"></div>" + "</td>" + "<td>" + ((if not index and not o.options.autoUpload then "<button class=\"start\" disabled>Start</button>" else "")) + ((if not index then "<button class=\"cancel\">Cancel</button>" else "")) + "</td>" + "</tr>")
          row.find(".name").text file.name
          row.find(".size").text o.formatFileSize(file.size)
          row.find(".error").text file.error  if file.error
          rows = rows.add(row)
          return

        rows

      downloadTemplate: (o) ->
        rows = $()
        $.each o.files, (index, file) ->
          row = $("<tr class=\"template-download fade\">" + "<td><span class=\"preview\"></span></td>" + "<td><p class=\"name\"></p>" + ((if file.error then "<div class=\"error\"></div>" else "")) + "</td>" + "<td><span class=\"size\"></span></td>" + "<td class=\"delete\"><button>Delete</button></td>" + "</tr>")
          row.find(".size").text o.formatFileSize(file.size)
          if file.error
            row.find(".name").text file.name
            row.find(".error").text file.error
          else
            row.find(".name").append $("<a></a>").text(file.name)
            row.find(".preview").append $("<a></a>").append($("<img>").prop("src", file.thumbnailUrl))  if file.thumbnailUrl
            row.find("a").attr("data-gallery", "").prop "href", file.url
            row.find(".delete button").attr("data-type", file.delete_type).attr "data-url", file.delete_url
          rows = rows.add(row)
          return

        rows
  })

  #$('#fileupload').fileupload(
  #      'option',
  #      'redirect',
  #      window.location.href.replace(
  #          /\/[^\/]*$/,
  #          '/cors/result.html?%s'
  #      )
  #)

  $(document).on "drop dragover", (e) ->
      e.preventDefault()
