/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require blueimp-gallery-all
 *= bootstrap-addons-rails
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: 'Junction';
    src: url('junction/webfonts/junction-regular.woff') format('woff');
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}
body a{
  text-decoration: none;
  color: red;
}
header {
  color: black;
  padding-bottom: 12px;
  margin-bottom: 10px;
  padding-top: 10px;
  line-height: 40px; 
}
/*bootstrap sm and below*/
@media screen and (max-width: 767px){
  header{
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
}
.menu{
  margin: auto;
  float: right !important;
}
.header{
  border-bottom: solid #a8a8a8 thin;
  vertical-align: bottom;
  font-size: 18px;
  padding: 0 0 5px;
}
header > a {
  color: red;
}
h1.page_title{
  display: inline;
  margin: 0px;
  font-family: Junction;
}

h1.page_title > a {
  font-size: 32px;
  color: black;
}
.log-line{
  font-size: medium;
  margin: 0;
  color: #666;
  line-height: 1.1;
}


input,
textarea {
  border: 1px solid #428bca;
  padding: 4px;
  width: 250px;
}

input[type=text] {
  height: 32px;
}

.user_info {
  font-size: 10px;
  bottom: 0;
  position: absolute;
}

.logout {
  margin-left: 8px;
}

.session_info {
  position: relative;
  height: 100px;
}

.blue-header {
 background-color: #428bca;
}

.input-desc {
  font-size: 12px !important;
  color: #555;
}

.site_details .image_controls {
  position: absolute;
  top: 182px;
  width: 235px;
  margin-left: 12px;
}

.assigned_quality {
  border: 2px solid black !important;
  color: blue !important;
  font-weight: bold !important;
}

.btn {
 border: 2px solid transparent;
}
.assigned_quality_single {
  border: 6px solid black !important;
  color: blue !important;
  font-weight: bold !important;
}


.header_action {
  position: absolute;
  bottom: 35%;
  color: #fff !important;
}

/*
blueimp-gallery options
*/
.blueimp-gallery > .detail_image_controls {
  position: absolute;
  bottom: 50px;
  width: 100%;
  color: #fff;
  display: block;
}
.blueimp-gallery-controls > .detail_image_controls {
  display: block;
}
.well-white{
  background-color: #fff;
  border-color: #BFE7E6;
}
.btn{
  font-size: 16px;
}
.regular_text{
  font-size: medium;
}
