/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.fileupload-ui
 */

header {
  background-color: #1b1b1b;
  color: white;
  padding-bottom: 12px;
  margin-bottom: 40px;
}

.page_title {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 48px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111;
}

input,
textarea {
  border: 1px solid #428bca;
  padding: 4px;
  width: 250px;
}

input[type=text] {
  height: 32px;
}

.site_desc {
  margin-top: 34px;
}

.site_desc_title {
  font-style: italic;
  font-size: 16px;
  line-height: 8px;
}

.user_info {
  font-size: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
}

.logout {
  margin-left: 8px;
}

.session_info {
  position: relative;
  height: 100px;
}

.learn_more {
  margin-top: 22px;
}

.blue-header {
 background-color: #428bca;
}

.input-desc {
  font-size: 12px !important;
  color: #555;
}
