// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.open_id_part {
  display: inline-block;
  font-weight: normal;
}

.open_id_endpoint {
  margin-top: 10px;
}

.site_name, .site_img_num {
  display: inline-block;
}

.site_info {
  border-bottom: 1px solid #428BCA;
  margin-bottom: 25px;
}
.site_details {
  margin-left: 15px;
}
@media screen and (min-width: 768px) { 
  .upload_images {
    /*float right so that sites div moves up beneath well with circles;*/
    float: right;
  }
  .sites_overview{
    padding-right: 0;
  }
  .circles_parent{
    padding-right: 0;
  }
}

.well{
  background-color: #E9F7FB;
  color: black;
  text-align: center;
  margin-bottom: 0;
}
.upload_images > .well{
  background-color: #fff;
  margin-top: 10px;
}
.circle {
	border-radius: 50%;
	width: 75px;
	height: 75px; 
	background-color: blue;
  display: table;
	margin: 10px auto 10px;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}
.circle_contents{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-weight: bold;
  
}


