// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


@media (min-width: $screen-sm-min) {.thumbnail img { height:100px !important; }}
@media (min-width: $screen-md-min) {.thumbnail img { height:150px !important; }}
@media (min-width: $screen-lg-min) {.thumbnail img { height:200px !important; }}

#upload-area {
  width: 100%;
  min-height: 400px;
  border: 8px dashed #428bca;
  margin-bottom: 15px;
  padding: 20px;
}

#upload-area:hover {
  border: 8px dashed #0033CC;
}

.thumbnail {
  border: 8px solid #CCC !important;
}

.selected_img {
  border: 8px solid #428bca !important;
}

#upload_selected {
  width: 100%;
  margin-top: 20px;
}

.upload-actions {
  margin-top: 20px;
  padding: 20px;
}

.subpanel {
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
}
  
.thumbnail .caption {
  font-size: 10px;
  text-align: center;
}

.alert {
  display: none;
}
