// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

@media (min-width: $screen-sm-min) {.thumbnail img { height:100px !important; }}
@media (min-width: $screen-md-min) {.thumbnail img { height:150px !important; }}
@media (min-width: $screen-lg-min) {.thumbnail img { height:200px !important; }}

@media (min-width: $screen-xs-min) {
  .thumbnail canvas.canvas-thumbnail { height:64px !important; width: 86px !important}
  .knob-progress {width: 64px; height: 64px} 
  .image_controls {width: 80% !important; margin-left:0 !important; position:absolute !important; top:100px !important;}
  .image_controls .btn {font-size: 8.5px !important} 
}

@media (min-width: $screen-sm-min) {
  .thumbnail canvas.canvas-thumbnail { height:64px !important; width: 86px !important}
  .knob-progress {width: 64px; height: 64px} 
  .image_controls {width: 85% !important; margin-left:0 !important; position:absolute !important; top:120px !important;}
  .image_controls .btn {font-size: 10px !important} 
}

@media (min-width: $screen-md-min) {
  .thumbnail canvas.canvas-thumbnail { height:95px !important; width: 126px !important}
  .knob-outer { padding: 13px;}
  .knob-progress {width: 64px; height: 64px} 
  .image_controls {width: 90% !important; margin-left:0 !important; position:absolute !important; top:200px !important;}
  .image_controls .btn {font-size: 14px !important} 
}

@media (min-width: $screen-lg-min) {
  .thumbnail canvas.canvas-thumbnail { height:132px !important; width: 176px !important}
  .knob-outer { padding: 38px;}
  .knob-progress {width: 64px; height: 64px} 
  .image_controls {width: 90% !important; margin-left:0 !important; position:absolute !important; top:200px !important;}
  .image_controls .btn {font-size: 14px !important} 
}

@media (min-width: $screen-sm-min) {.thumbnail.small img { height:100px !important; }}

#upload-area {
  width: 100%;
  min-height: 400px;
  border-radius: 20px;
  border: 2px dashed #428bca;
  margin-bottom: 15px;
  padding: 20px;
}

#upload-area:hover {
  background-color: #eee;
}

.thumbnail {
  border: 8px solid #CCC !important;
}

.selected_img {
  border: 8px solid #428bca !important;
}

.upload-actions {
  margin-top: 20px;
  padding: 20px;
}

.subpanel {
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
}
  
.thumbnail .caption {
  font-size: 10px;
  text-align: center;
}

.knob-outer {
  position: absolute;
}

.knob-progress {
  position: absolute;
  background-color: #ccc;
  opacity: 0.8;
  display: none;
}

.upload-buttons-section {
  margin-top: 15px;
}

.progress-area {
  margin-top: 48px;
}

.status-messages {
  background-color: #EEE;
  padding: 3px;
  height: 400px;
  overflow-y: auto;
}

.status-messages p {
  font-size: 10px;
  margin: 0px 0px 4px;
  font-family: "Fixed, monospace"; 
}

.status-success {
  color: green;
}

.status-error {
  color: red;
}

.status-warning {
  color: #F0AD4E;
}

.abort_upload {
    float:right;
    margin-top:-42px;
    cursor:pointer;
    color: #fff;
    #border: 1px solid #AEAEAE;
    border-radius: 6px;
    #background: #428bca;
    font-size: 31px;
    font-weight: bold;
    display: inline-block !important;
    line-height: 0px;
    padding: 4px;       
    visibility: hidden;
}

