// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$screen-xxs:                 320px !default;
$screen-xxs-min:             $screen-xxs !default;
$screen-xphone:              $screen-xxs-min !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  420px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:              ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

@media (min-width: $screen-sm-min) {.thumbnail img { height:100px !important; }}
@media (min-width: $screen-md-min) {.thumbnail img { height:150px !important; }}
@media (min-width: $screen-lg-min) {.thumbnail img { height:200px !important; }}

.map header {
  height:100px;
  padding:20px 10px;
}

@media (min-width: $screen-md-min) {
  /*.image_controls {width: 90% !important; margin-left:0 !important; }*/
  .image_controls .btn {font-size: 14px !important} 
}

@media (min-width: $screen-lg-min) {
  /*.image_controls {width: 90% !important; margin-left:0 !important; }*/
  .image_controls .btn {font-size: 14px !important} 
}

.sites-show-well-mobile button{
  margin-bottom: 4px;
}
$footer-height: 80px;

body {
  padding-bottom: 100px;
}
body#mapmill-sites-upload{
  /*make room for footer*/
  margin-bottom: $footer-height;
}
footer.upload {
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
  padding: 2px 10px;
  background-color: white;
  line-height: $footer-height;
}
.fileupload-buttonbar{
  height: $footer-height;
}

.upload-candidate{
  margin-bottom: 20px;
}
.upload-candidate button{
  width: 49%;
}
.candidate-buttons{
 float: bottom;
}

.pagination-parent{
  width: 100%;
  text-align: center;
}
#upload-area {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 2px dashed #428bca;
  margin-bottom: 15px;
  padding: 20px;
  display: table;
  background:#f3f0ff;
}
#upload-area .row {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.upload-text{
  color: black;
  padding-bottom: 10px;
}
.upload-text input{
  visibility: hidden;
  width: 1px; 
  height: 1px
}

#upload-area:hover {
  background-color: #eee;
}

#upload-candidates-container{
  margin-left: 0;
  padding: 25px 10px;
  width: 100%;
  clear: both;
  border: 1px solid #bbb;
  border-radius: 4px;
  min-height: 100px;
}
.upload-candidates-container-header{
  padding-bottom: 5px;
  clear: both;
}
.upload-candidates-container-header .dropdown{
  margin-bottom: 5px;
}

.site_details .thumbnail, .upload-candidate .thumbnail {
  margin-bottom: 5px;
  padding: 0;
  height: 200px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 5px;
  border-radius: 6px;
  border:none;
}
#upload-candidates-container .thumbnail {
  opacity:0.5;
  height: 300px;
  overflow: hidden;
}
.thumbnail.small img{
  height: 110px !important;
}

canvas.canvas-thumbnail {
  width:100%;
}
.thumbnail img{
  height: 100px;
  border:2px #444 solid;
}
.thumbnail .caption {
  text-align: center;
}
.thumbnail .status {
  text-align: center;
  padding-bottom:8px;
}

#upload-candidates-container .selected_img {
  opacity:1;
  border:2px #fa3 solid;
  background:none;
}

.image_controls .btn{
  width: 100%;
}
.image_controls .row{
  margin-left: 0;
  width:100%;
  [class*="col-"] {
    padding-right: 1px;
    padding-left: 1px;
  }
}

.upload-actions {
  margin-top: 20px;
  padding: 20px;
}

.subpanel {
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
}

.upload-buttons-section {
  margin-top: 15px;
}

.progress-area {
  margin-top: 34px;
}

.status-messages {
  background-color: #EEE;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  margin-top:10px;
}

.status-messages p {
  font-size: 10px;
  margin: 0px 0px 4px;
  font-family: Fixed, monospace; 
}

.status-success {
  color: green;
}

.status-error {
  color: red;
}

.status-warning {
  color: #F0AD4E;
}

.voting_disabled {
  cursor: default;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'old-timey\'><feColorMatrix type=\'matrix\' values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\'/></filter></svg>#old-timey");
    -webkit-filter: sepia(1);
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
    filter: sepia(100%);
}

.voting_disabled_android {
  opacity: 0.4;
}

.btn_disabled {
  pointer-events: none;
}

.sites-show-well-top h3{
  color: black;
}
.sites-show-well-mobile{
  text-align: center;
}

.image_controls .row {
  padding-bottom: 20px;
}

@media (min-width: $screen-xxs-min) {
  #upload-area {height: 200px;}
}

@media (min-width: $screen-xs-min) {
  .sites-show-well-top .upload_more{ margin-top: 2px;}
}

@media (min-width: $screen-md-min) {
  .sites-show-well-top .upload_more { margin-top: 28px !important;}
}

.thumbnail .loading {
  padding: 30px 0;
  text-align:center;
  font-size: 20px;
  color:#666;
}
