<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
    <div class="detail_image_controls">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button id="btn_good" type="button" class="btn btn-success detail_control ">
            <span class="glyphicon glyphicon-ok"></span> good 
          </button>
        </div>
        <div class="btn-group">
          <button id="btn_nok" type="button" class="btn btn-warning detail_control">
            <span class="glyphicon glyphicon-flag"></span> not ok
          </button>
        </div>
        <div class="btn-group">
          <button id="btn_bad" type="button" class="btn btn-danger detail_control">   
            <span class="glyphicon glyphicon-remove"></span> bad
          </button>
        </div><!-- btn-group -->
      </div><!-- btn-group-justified -->
    </div><!-- image_controls -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </v>
        <d class="modal-body next"></div>
        <d class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
