<div class="alert alert-danger" role="alert" style="display:none">Oooops - looks as something didn't go well...
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  </div>


<h2> Upload Page</h2>

<div style="display:none" id="s3-data" data-fields='<%= @s3_direct_post.fields.to_json.html_safe %>' data-url="<%= @s3_post_data[:url] %>"></div>

<div class="row">

  <div class="col-md-10 col-sm-6">
    <div class="upload_section">

      <div id="upload-status">
      </div>
<!--
      <input id="fileupload" multiple="" name="image[image]" type="file" style="display:none" />
-->

      <div id="upload-area">
        Drag and drop the files you want to upload...  
        <div class="row">
          <div id="upload-list">
          </div><!-- upload-list-->
        </div><!-- row -->
      </div><!-- upload-area -->

    </div><!-- upload-section -->
  

<form enctype="multipart/form-data" method="POST" id="fileupload">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript>&lt;input type="hidden" name="redirect" value="http://localhost"&gt;</noscript>
<div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" style="width:100%">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>...or browse for images</span>
                    <input type="file" multiple="" name="files[]">
                </span>
                <br />
                <div class="upload-buttons-section">
                        <button id="upload_selected" class="btn btn-primary start" type="submit">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                        <button class="btn btn-warning cancel" type="reset">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                        <button class="btn btn-danger delete" type="button">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Clear file list</span>
                        </button>
                </div>
<!--
                <input type="checkbox" class="toggle">
-->
                <!-- The global file processing state -->
<!--
                <span class="fileupload-process"></span>
-->
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress progress-striped active">
                    <div style="width:0%;" class="progress-bar progress-bar-success"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
</form>
  </div><!-- col-md-10 -->

  <div class="col-md-2 col-sm-6">
      <div id="upload-msg" class="col-md-2 col-sm-6 status-messsages"> </div>
  </div>

</div><!-- row -->
