<h2> Upload Page</h2>

<div style="display:none" id="s3-data" data-url="<%= @s3_post_data[:url] %>"></div>

<div class="row">

  <div class="col-md-10 col-sm-6">
    <div class="upload_section">

      <div id="upload-status">
      </div>

      <input id="fileupload" multiple="" name="image[image]" type="file" style="display:none" />

      <div id="upload-area">
        Drag and drop the files you want to upload...  
        <div class="row">
          <div id="upload-list">
          </div><!-- upload-list-->
        </div><!-- row -->
      </div><!-- upload-area -->

      <button id="browse" class="btn btn-primary browse">...or browse for images</button>

    </div><!-- upload-section -->
  
  </div><!-- col-md-10 -->

  <button id="upload_selected" class="btn btn-success">Upload selected files</button>

  <div class="col-md-2 col-sm-6">
      <div id="upload-msg" class="col-md-2 col-sm-6 status-messsages"> </div>
  </div>

</div><!-- row -->
