<div class="site_form_wrapper">
  <h1>MapMill</h1>
  by PublicLab
  <hr>
  Sites

  <div class="content_wrapper">
    <table class="sites_form form_table">
      <tr>
        <td>
          <label class="form_label">Name</label>
          <input class="form_input" type="text" name="name">
        </td>
      </tr>
      <tr>
        <td>
          <label class="form_label">Date</label>
          <input class="form_input" type="text" name="date">
        </td>
      </tr>
      <tr>
        <td>
          <label class="form_label">Description</label>
          <input class="form_input" type="text" name="description">
        </td>
      </tr>
    </table>
  </div>

</div>

