<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>MapMill: Crowdsourced map processing</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="/javascripts/shortcut.js"></script>
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
</head>
<body>

  <div id="header">
	<a href="/" style="padding-left:8px;"><b>MapMill:</a> <small><i>Help map the oil spill</i></small></b> | 
	<a href="/mapper/sites">Sites</a> | 

	<span style="display:block;float:right;margin-right:8px;">
		<a style="display:block;float:right;margin-left:8px;" name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script> 
		<a style="display:block;float:right;padding-left:8px;" href="http://twitter.com/home?status=Crowdsourcing: Hot or Not the Oil Spill:http://hotoil.org"><img src="/images/twitter.png" /></a>
		<a style="display:block;float:right;" href='javascript:void(0);' onClick="$('overlay').toggle()" >Help</a> 
		<a style="display:block;float:right;" href='#slideshow'>Slideshow</a> 
        </span>
  </div>



  <%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-180781-32']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
