<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>MapMill: Crowdsourced map processing</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  <div id="header">
	<a href="/">Start sorting</a> | 
	<a href="/mapper/sites">Sites</a> | 
	<a style="float:right;margin-left:8px;" name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script> 
	<a style="padding-top:8px;" href="http://twitter.com/home?status=Crowdsourcing: Hot or Not the Oil Spill:http://hotoil.org"><img style="display:block;float:right;" src="/images/twitter.png" /></a>
  </div>

  <a id="kickstarter" href='http://kck.st/cj3Anh'><img border='0' src='http://www.kickstarter.com/projects/jywarren/grassroots-mapping-the-gulf-oil-spill-with-balloon/widget/card.jpg' /></a>

  <h1>MapMill: <small><i>Help map the oil spill</i></small></h1>

  <%= yield %>

  <div id="footer" style="clear:both;">
	<a href="/">Start sorting</a> | 
	<a href="/mapper/sites">Sites</a> | 
	<a href="http://grassrootsmapping.org/mapmill">About</a> | 
	<a href="http://github.com/jywarren/mapmill">Source</a>
  </div>
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
var pageTracker = _gat._getTracker("UA-180781-31");
pageTracker._trackPageview();
} catch(err) {}</script> 
</body>
